
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css
  ">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/index.scss">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

  

</head>

<body>
  <nav>
    <div class="menu-icon">
      <span class="fas fa-bars"></span>
    </div>

    <a href="/" class="a-nav">
      <div class="logo" class="me-4">
        VL<span style="color: coral;">CARS</span>
      </div>
    </a>
    <div class="nav-items">
      <li><a href="/">Inicio</a></li>
      <li><a href="/">Sobre</a></li>
      <li><a href="#">Carros</a></li>
      <li><a href="#">Contato</a></li>W
    </div>
    <div class="search-icon">
      <span class="fas fa-search"></span>
    </div>
    <div class="cancel-icon">
      <span class="fas fa-times"></span>
    </div>
    <form action="#" class="me-3">
      <input type="search" class="search-data"  placeholder="Search" required>
      <button type="submit" class="fas fa-search" id="btn-submit" onclick="redc()"></button>
    </form>
    
    <%if (status=="loggedIn" ) {%>
      <div class="dropdowne">
        <img src="/img/prof.jpeg" class="rounded-circle dropbtn w-100"
          onclick="dropdownFunc()" height="29px" alt="" loading="lazy" />
        <div id="myDropdowne" class="dropdowne-content">
          <a href="/admin">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
      <a href="" id="navbar">
      </a>
      <%} else {%>
        <a href="/register" id="navbar">
          <span>Crie sua conta</span>
        </a>
        <%}%>
  </nav>

  <main>

    <h1 id="loading2" style="display: flex;justify-content: center; width: 100%; text-align: center;margin-top:15%">Processando o pagamento...</h1>
    <div id="loading" style="display: flex;justify-content: center; width: 100%; text-align: center;">
      <img src="/img/Spinner-1s-200px.gif" style="width:250px;height:250px;" />
  </div>

  
  <!-- COLOQUE A DIV "loading" ACIMA DE TODO O CONTEUDO DO SITE (ABAIXO DA <body>) -->
  
  <div id="conteudo" style="display: none">
    <div class="vini" style="justify-content: center; width: 100%; text-align: center; margin-top:15%">
      <h3>O pagamento foi realizado com sucesso!</h3>
      <a class="text-decoration-none" style="color: coral;" href="/">Voltar a pagina principal</a>
    </div>
   </div>
<script src="js/payment.js"></script>
    </div>
  </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
    <script>
      var i = setInterval(function () {
    
    clearInterval(i);
  
    // O código desejado é apenas isto:
    document.getElementById("loading").style.display = "none";
    document.getElementById("conteudo").style.display = "inline";

}, 2000);
var c = setInterval(function () {
    
    clearInterval(i);
  
    // O código desejado é apenas isto:
    document.getElementById("loading2").style.display = "none";

}, 2000);

    </script>
</body>

</html>