@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #1e232b !important;
}

.list-group-item {
  background-color: #212529 !important;
  color: #a4aeb8 !important;
}

html,
main,
body {
  height: 100%;
}

.hrstyle {
  background: linear-gradient(to right, #252525, coral);
  opacity: 0.6;
  height: 3px;
}

.fade-in-text {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.list-group-item:hover {
  color: #676f77 !important;
}

.list-group-item.active {
  border-color: #0f1113 !important;
  background-color: #191d20 !important;
  color: #d7e2ec !important;
  border-radius: 15px !important;
  box-shadow: 1px;
}

nav form {
  display: flex;
  height: 40px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  color: #fff;
  width: 65%;
}

tr {
  padding-right: 200px;
  border: 1px solid #ddd;

}

tr:hover {
  opacity: 0.8;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: coral;
  color: white;
}

table {
  display: flex;
  table-layout: auto;
  justify-content: center;
  width: 100%;
  align-self: center;
}

nav .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-left: 20px;
}

.search-nav {
  margin-left: 110px;
}

.font {
  font-family: 'montserrat', sans-serif;
}

.hrv:hover {
  opacity: 0.8;
  text-shadow: 0.8px;
  background-color: #676f77;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.a-nav {
  text-decoration: none;
  color: #fff;
}

.a-nav:hover {
  opacity: 0.9;
}

nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: coral;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

nav form button:hover {
  background: rgba(247, 108, 57, 0.726);
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}


@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}